/* definições gerais do site */
body {
    background-image: url(imagem/fundo.rosaclaro.jpg);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header.inicio { /* Estiliza o cabeçalho*/
    position: fixed;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}
/* define um padrao para as imagens adicionadas dentro de uma sessão */
section img {
    width: 200px;
    height: 200px;
}

.inicio ul { /* Estiliza a lista de navegação*/
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    margin: 10;
    padding: 30;
    background-color: rgb(250, 246, 249);
}


.inicio ul li { /* Estiliza os itens da lista */
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 80px;
}
/* deixando a pagina responsiva quando a tela for dminuida */
@media screen and (max-width: 600px) {
    .inicio ul li {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 50px;
    }
}

/* muda o design do cursor */
.inicio ul li a:hover{
    background-color: rgb(248, 196, 239);
    font-size: 19px;
    cursor: grabbing;
    transition: all 2s;

}

.inicio ul li a {
    text-decoration: none;      
    color: rgb(10, 10, 10);
}

.biografia { /* Estiliza a seção biografia com layout e altura */
    display: inline-block;
    height: 50vh;
    padding: 200px;
}

.sobremim  { /* Estiliza a seção sobre mim*/

    .fotomeninapc{
    margin-left: 40%;
    width: 200px;
    height: 200px; 
    border-radius: 50%;

    }
    
    .p1{
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
}
/* muda o design do cursor da foto na sessão sobremim */
.sobremim .fotomeninapc:hover{
    width: 280px;
    height: 280px;
    transition: all 3s;

}


.fotoconstrucao{ /* Estiliza uma imagem específica */
    width: 450px;
    height: 350px; 
    border-radius: 0%;
}


.voltar a img { /* Estiliza a imagem de retorno ao index */
    max-width: 40px;
    height: 40px;
    position: fixed;
    margin-top: 140;    
}

footer { /* Estiliza o rodapé */
    background-color: rgba(250, 204, 240, 0.822);
    width: 100%;
    bottom: 0;
    text-align: center;
    position: sticky;
        .p-footer{
        color: rgb(11, 11, 11);
        margin-left: 1000px;
        font-size: xx-small
    }  
}


/* Estiliza os campos de entrada e área de texto do formulário  */
form input, form textarea {
    display: block;
    margin-bottom: 10px;
}

